<%- include('../partials/head') %>
</head>
<body>
  <header>
    <%- include('../partials/header-navbar') %>
  </header>

  <main class="container">
    <h1><%= title %></h1>
    <div class="row">
      <div class="col-12">
        <p>Enter your e-mail address below to reset your password.</p>
        <form action="/reset-password" method="POST">
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" name="email" id="email">
          </div>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button type="submit" class="btn btn-primary">Reset password</button>
        </form>
      </div>
    </div>
  </main>
<%- include('../partials/tail') %>