<article class="col-12 col-sm-6 col-lg-4 mb-4">
  <div class="card">
    <img class="card-img-top" src="<%= imageUrl %>" alt="<%= title %>">
    <div class="card-body">
      <h5 class="card-title"><%= title %></h5>
      <p class="card-text"><%= description %></p>
      <strong>$<%= price %></strong>
      <a href="/products/<%= _id %>">Details</a>

      <% if (admin) { %>
        <input type="hidden" name="productId" value="<%= _id %>" />
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="button" class="btn btn-danger float-right ml-2" onClick="deleteProduct(this)">Delete</button>
        <a href="/admin/products/edit/<%= _id %>" class="btn btn-secondary float-right">Edit</a>

      <% } else if (isLoggedIn) { %>
      <form class="float-right" method="POST" action="/add-to-cart">
        <input type="hidden" name="productId" value="<%= _id %>" />
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn btn-primary" type="submit">Add to cart</button>
      </form>
      <% } %>
    </div>
  </div>
</article>