<%- include('../partials/head') %>
</head>
<body>
  <header>
    <%- include('../partials/header-navbar') %>
  </header>

  <main class="container">
    <h1><%= title %></h1>
    <% for (let order of orders) { %>
      <h5>Order #: <%= order._id %></h5>
      <% for (let product of order.products) { %>
        <p>
          <%= product.title %>
          <%= product.quantity %>
          </p>
      <% } %>
      <hr />
    <% } %>
  </main>
<%- include('../partials/tail') %>